.aurora-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: 31, 31, 31;
  grid-row: span 3;
  text-align: left;
  padding: 0 1rem;
  font-weight: 500;
}
