.geo-info {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  text-align: left;
  background-color: white;
  color: rgb(31, 31, 31);
  grid-column: span 2;
}

.select-location__title,
.long-lat-info__title {
  margin: 0px 0 1rem;
}

.long,
.lat {
  margin: 0.5rem 0;
}

.select-location {
  padding-left: 1rem;
}
