.layout {
  max-height: 100vh;
  margin: 1.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media only screen and (max-width: 600px) {
  .layout {
    display: flex;
    flex-direction: column;
  }
}
